# ignore the Pycharm mumbo jumbo that keeps track of interpreter
.idea

# ignore the compiled python code
__pycache__

# ignore swap files
.swp

# ignore the image folder
image_bin
old_pickles

# ignore the files that contain saved arrays
cost_array.npy
data.pickle
n_array.pickle
n_array_fmin.pickle
